* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(179, 231, 231);
}

header {
    font-size: larger;
    padding: 16px;
    text-align: center;
    margin-bottom: 32px;
    color:  rgb(5, 5, 5);
}


.container {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
}

form {
    text-align: center;
    color: rgb(5, 5, 5);
    font-size: large;
}

.form-campo {
    margin-bottom: 5px;
    font-size: medium;
}

.form-campo label {
    font-weight: bold;
    display: flex;
}

input {
    background-color: rgb(201, 200, 200);
    display: block;
    width: 100%;
    padding: 5px;
    font-size: medium;
    border-style: double;
}

button {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-top: 16px;
    border: none;
    background-color: #112597;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    font-size: italic; 
    cursor: pointer;
    border-radius: 20px;
}

